@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}


<section class="content">

    <!-- Default box -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <div class="text-center ">
                    @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                    *@
                </div>
                <br />
                <h4 class="display-6  text-center text-bold" style="color: #268aab">Medicine Logs</h4>
            </div>
        </div>
    </div>
    <br />


    <!-- Display patients -->
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="card">
                <div class="card-header">

                    

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="patientsTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>


                                    <th>#</th>
                                    <th>Medicine No.</th>

                                    <th>Medicine Name </th>
                                    <th>Dispense Date</th>
                                    <th>Dispense Time</th>
                                    <th>Availabe Qty</th>
                                    
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        07548
                                    </td>
                                    <td>Male</td>
                                    <td>Analgesics</td>
                                    <td>23/04/2024</td>
                                    <td>08:00</td>
                                    <td>400</td>
                                    
                                    <td>
                                        <button class="bg-info">
                                            Restock
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        07548
                                    </td>
                                    <td>Male</td>
                                    <td>Analgesics</td>
                                    <td>23/04/2024</td>
                                    <td>08:00</td>
                                    <td>400</td>

                                    <td>
                                        <button class="bg-info">
                                            Restock
                                        </button>
                                    </td>
                                </tr>
                                <!-- Patient data will be populated here -->
                            </tbody>
                        </table>
                        <br/>
                        <button class="bg-info">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        // Function to populate patients data based on selected date
        function populatePatients(selectedDate) {
            // Dummy data (replace with actual data retrieval logic)
            var patientsData = [
                { info: "2024-05-01 08:30", medication: "Anxiolytics", strength: "50mg", quantity: "100mg", status: "Ordered" },
                {
                    info: "2024-05-01 08:30", medication: "Analgesics", strength: "100mg", quantity: "200mg", status: "Dispensed"
                },
                // Add more patient data as needed
            ];

            // Clear previous data
            $("#patientsTable tbody").empty();

            // Populate table with patient data
            patientsData.forEach(function (patient) {
                $("#patientsTable tbody").append(
                    "<tr>" +


                    "<td>" + patient.date + "</td>" +
                    "<td>" + patient.medication + "</td>" +


                    "<td>" + patient.strength + "</td>" +
                    "<td>" + patient.quantity + "</td>" +
                    "<td>" + patient.status + "</td>" +

                    "</tr>"
                );
            });
        }

        // Event listener for date selection
        $("#selectedDate").change(function () {
            var selectedDate = $(this).val();
            // Call function to populate patients data based on selected date
            populatePatients(selectedDate);
        });

        // Initial population of patients data based on current date
        var currentDate = new Date().toISOString().split('T')[0];
        populatePatients(currentDate);
    });
</script>




</section>
