

@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}


<section class="content">

    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class=" display-6 text-center text-bold" style="color:#268aab">Add Stock</h4>
        </div>
    </div>

    <!-- Display patients -->
    <div class="row">
        <div class="col-md-12">
           
            <br />
            <div class="card">
                <div class="card-header">
                    <h3 style="color:#268aab">Medicine Name: Analgesics </h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">

                           

                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Medicine type </label>
                                <input type="text" class="form-control" placeholder="Analgesics" disabled="disabled">

                            </div>
                            <div class="col-md-3">
                                <label class="form-label">mg</label>
                                <input type="text" class="form-control" placeholder="50" disabled="disabled">

                            </div>

                            <div class="col-md-3">
                                <label class="form-label">Ordered Qty</label>
                                <input type="text" class="form-control" placeholder="5000" disabled="disabled">
                            </div>

                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Current Qty </label>
                                <input type="text" class="form-control" placeholder="100" disabled="disabled">

                            </div>

                           
                           

                        </div>
                        <br />
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-info" type="button"> +Add Stock</button>
                           
                        </div>
                        <br />
                        <div class="col-md-3">
                            <label class="form-label">Updated Qty</label>
                            <input type="text" class="form-control "  placeholder="5100" disabled="disabled">
                            
                        </div>
                    </form>

                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">
                    <h3 style="color:#268aab">Medicine Name: Napa Rapid </h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">

                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Medicine type </label>
                                <input type="text" class="form-control" placeholder="Analgesics" disabled="disabled">

                            </div>

                            <div class="col-md-3">
                                <label class="form-label">mg</label>
                                <input type="text" class="form-control" placeholder="50" disabled="disabled">

                            </div>

                            <div class="col-md-3">
                                <label class="form-label">Ordered Qty</label>
                                <input type="text" class="form-control" placeholder="4000" disabled="disabled">
                            </div>

                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Current Qty </label>
                                <input type="text" class="form-control"  placeholder="100" disabled="disabled">

                            </div>


                        </div>
                        <br />
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-info" type="button"> +Add Stock</button>

                        </div>
                        <br />
                        <div class="col-md-3">
                            <label class="form-label">Updated Qty</label>
                            <input type="text" class="form-control bg-gradient-yellow" style="font:white" placeholder="No Added Stock" disabled="disabled">
                        </div>
                    </form>

                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="submit" class="btn btn-info" style="background-color:#268aab; color:#ffffff">Back</button>
            </div>
        </div>
    </div>

</section>
