@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}


<section class="content">

  

    <!-- Display patients -->
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="card">
                <div class="card-header">
                    <h3 style="color:#268aab">Add Medicine</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Medicine type </label>
                                <select id="inputState" class="form-select form-control ">
                                    <option selected>Pill</option>
                                    <option>...</option>
                                </select>
                            </div>

                        
                            <div class="col-md-3">
                                <label class="form-label">Medicine Name</label>
                                <input type="text" class="form-control" placeholder="Analgesics">
                            </div>
                           
                            <div class="col-md-3">
                                <label class="form-label">Schedule</label>
                                <input type="date" class="form-control" placeholder="0">
                                <br />
                                <input type="date" class="form-control" placeholder="0">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Re-Order Level</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-md-5">
                                <label class="form-label">Active Ingerdients</label>
                                <select id="inputState" class="form-select form-control ">
                                    <option selected>Penecilline</option>
                                    <option>...</option>
                                </select>
                                <br />
                                <label class="form-label">mg</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-md-5">
                                <label class="form-label">Added ingredients</label>
                                <textarea class="form-control" style="height: 100px" disabled></textarea>
                            </div>
                            
                            <br />
                            
                        </div>
                        <br />
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-info" type="button">Add Medicine</button>
                            <button class="btn btn-danger" type="button">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
