@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}


<section class="content">



    <!-- Display patients -->
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="card">
                <div class="card-header">
                    <h3 style="color:#268aab">List Of Prescriptions</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Prescription
                                    <br />
                                    No.</th>
                                <th scope="col">Patient
                                    <br />
                                    Invoice</th>
                                <th scope="col">Patient ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surgeon</th>
                                <th scope="col">Anastheseologist</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>2024-04-30</td>
                                <td>Pres.No_2024043001</td>
                                <td>2IPD-202404308</td>
                                <td>PID_20240430</td>
                                <td>Shaiur</td>
                                <td>John Doe</td>
                                <td>Joe Doe</td>
                                <td>
                                    <button class="btn btn-outline-info">View</button>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">2</td>
                                <td>2024-04-30</td>
                                <td>Pres.No_2024043020</td>
                                <td>2IPD-202404303</td>
                                <td>PID_20240410</td>
                                <td>Shaiur</td>
                                <td>John Doe</td>
                                <td>Joe Doe</td>
                                <td>
                                    <button class="btn btn-outline-info">View</button>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>2024-04-30</td>
                                <td>Pres.No_2024043001</td>
                                <td>2IPD-202404308</td>
                                <td>PID_20240430</td>
                                <td>Shaiur</td>
                                <td>John Doe</td>
                                <td>Joe Doe</td>
                                <td>
                                    <button class="btn btn-outline-info">View</button>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">4</td>
                                <td>2024-04-30</td>
                                <td>Pres.No_2024043001</td>
                                <td>2IPD-202404308</td>
                                <td>PID_20240430</td>
                                <td>Shaiur</td>
                                <td>John Doe</td>
                                <td>Joe Doe</td>
                                <td>
                                    <button class="btn btn-outline-info">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</section>
