

@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}


<section class="content">

    <!-- Default box -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <div class="text-center ">
                    @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                    *@
                </div>
                <br />
                <h4 class="display-center  text-center text-bold" style="color: #268aab">Top Up Medicine</h4>
            </div>
        </div>
    </div>
    <br />
    
    <!-- Display patients -->
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="card">
                <div class="card-header">

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-info">Recieve Medicine</button>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="patientsTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>


                                    <th>Medicine Name</th>
                                    <th>Stock Available</th>

                                    <th>Expiry Date </th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                         Brufen 
                                    </td>
                                    <td>1000</td>
                                    <td>2025-06-06</td>
                                    <td>
                                        <button type="submit" class="btn btn-info">Receive </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         Anxiolytics
                                         
                                    </td>
                                    <td>400</td>
                                    <td>2025-06-06</td>
                                    <td>
                                        <button type="submit" class="btn btn-info">Receive </button>
                                     </td>
                                </tr>
                                <tr>
                                    <td>
                                        Analgesics

                                    </td>
                                    <td class="bg-danger text-white">0</td>
                                    <td>2025-06-06</td>
                                    <td>
                                        <button type="submit" class="btn btn-info">Receive </button>
                                    </td>
                                </tr>
                                <!-- Patient data will be populated here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        // Function to populate patients data based on selected date
        function populatePatients(selectedDate) {
            // Dummy data (replace with actual data retrieval logic)
            var patientsData = [
                { info: "2024-05-01 08:30", medication: "Anxiolytics", strength: "50mg", quantity: "100mg", status: "Ordered" },
                {
                    info: "2024-05-01 08:30", medication: "Analgesics", strength: "100mg", quantity: "200mg", status: "Dispensed"
                },
                // Add more patient data as needed
            ];

            // Clear previous data
            $("#patientsTable tbody").empty();

            // Populate table with patient data
            patientsData.forEach(function (patient) {
                $("#patientsTable tbody").append(
                    "<tr>" +


                    "<td>" + patient.date + "</td>" +
                    "<td>" + patient.medication + "</td>" +


                    "<td>" + patient.strength + "</td>" +
                    "<td>" + patient.quantity + "</td>" +
                    "<td>" + patient.status + "</td>" +

                    "</tr>"
                );
            });
        }

        // Event listener for date selection
        $("#selectedDate").change(function () {
            var selectedDate = $(this).val();
            // Call function to populate patients data based on selected date
            populatePatients(selectedDate);
        });

        // Initial population of patients data based on current date
        var currentDate = new Date().toISOString().split('T')[0];
        populatePatients(currentDate);
    });
</script>




</section>

