@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}

<html>
    <head>
        <link rel="stylesheet" href="print.css" type="text/css" media="print" />
         <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>
    <section class="content">



        <!-- Display patients -->
        <div class="row">
            <div  class="col-md-8">
                <img src="~/images/cybermedlogo.png" style="display:none" alt="Company Logo" id="logo" />
                <hr style="display:none" id="logo" />
                <br />
                <!-- Button trigger modal -->
               @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Launch static backdrop modal
                </button>*@

                <!-- Modal -->

                <div class="card" id="container">
                    <div class="card-header">
                        <h5 style="color:#268aab">Patient Prescription</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputState" class="form-label">Prescription No: </label>
                                <lable type="text">Pres2024043020</lable>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Date</label>
                                <lable type="date">07/04/2027</lable>
                            </div>

                        </div>
                        
                        <br />
                        <div class="row" style="justify-content:space-between">
                            
                            <div class="col-md-4">
                                <label class="form-label">Patient Name: </label>
                                <lable>Shaiur</lable>
                            </div>
                            <div class="col-md-1">
                                <label class="form-label">Age: </label>
                                <lable>30</lable>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Gender</label>
                                <lable>Female</lable>
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div class="row" id="presTable">

                            <table class="table table-borderless" >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Drug</th>
                                        <th scope="col">Dosage</th>
                                        <th scope="col">Units</th>
                                        <th scope="col">Dispense</th>
                                        <th scope="col">Avail. Qty</th>
                                        <th scope="col">Refills</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Napa Rapid 500mg oral tablet</td>
                                        <td>2 Morning, 2 Night
                                            <br />
                                            (Before Meal)
                                        </td>
                                        <td>tablet</td>
                                        <td>20(twenty)</td>
                                        <td class="bg-success">500</td>
                                        <td>0</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Finix 20mg oral tablet</td>
                                        <td>
                                            1 tablet/ day
                                            <br />
                                            (With Meal)
                                        </td>
                                        <td>tablet</td>
                                        <td>20(twenty)</td>
                                        <td class="bg-success">400</td>
                                        <td>0</td>

                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-info" type="button" >Dispense Prescription</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectPrescription">
                                    Reject Prescription
                                </button>

                                <!-- Modal -->
                                <div class=" modal static" id="rejectPrescription" tabindex="-1" role="dialog" aria-labelledby="rejectPrescriptionLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="rejectPrescriptionLabel">Reason for Rejecting Prescription</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @*<form method="post">
                                                    <textarea asp-for="" class="form-control">

                                                    </textarea>

                                                    
                                                </form>*@
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-danger">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Button trigger modal -->
                            

                            <!-- Modal -->

                            
                        </div>
                    </div>
                </div>
                @*<button onclick="window.print();return false;">Print this page</button>*@

            </div>

            <div class="col-md-4">
                <br />
                <div class="card">
                    <div class="card-header">
                        <h5 style="color:#268aab">Patient Allergies</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th scope="col">Name</th>
                                    <th scope="col">Serverity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Penicilin</td>
                                    <td class="bg-gradient-warning">Morderate</td>
                                </tr>
                                <tr>
                                    <td>Ibuprofen</td>
                                    <td class="bg-gradient-success">Mild</td>
                                </tr>
                                <tr>
                                    <td>Carbamazepine</td>
                                    <td class="bg-gradient-danger">Server</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <br />
                <div class="card">
                    <div class="card-header">
                        <h5 style="color:#268aab"> Patient's Vitals</h5>

                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">hgt.(cm)</th>
                                    <th scope="col">wgt.(kg)</th>
                                    <th scope="col">
                                        TEMP
                                        <br />(°C)
                                    </th>
                                    <th scope="col">
                                        BP
                                        <br />(bpm)
                                    </th>
                                    <th scope="col">
                                        bpm.
                                        <br />(bpm)
                                    </th>
                                    <th scope="col">
                                        RR
                                        <br />(%)
                                    </th>
                                    <th scope="col">
                                        sO2
                                        <br />(%)
                                    </th>
                                    <th scope="col">
                                        BG
                                        <br />(mmHg)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>23-04-2024</td>
                                    <td>10:00</td>
                                    <td>160</td>
                                    <td>70</td>
                                    <td>35</td>
                                    <td>120</td>
                                    <td>8b</td>
                                    <td>100</td>
                                    <td>60</td>
                                    <td>180/120</td>
                                </tr>
                                <tr>
                                    <td>23-04-2024</td>
                                    <td>15:00</td>
                                    <td>160</td>
                                    <td>71</td>
                                    <td>35</td>
                                    <td>40</td>
                                    <td>10</td>
                                    <td>70</td>
                                    <td>80</td>
                                    <td>180/120</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <br />
                <div class="card">
                    <div class="card-header">
                        <h5 style="color:#268aab"> Conditions</h5>

                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">

                            <tbody>
                                <tr>
                                    <td>Diabetes</td>
                                </tr>
                                <tr>
                                    <td>Asthma</td>
                                </tr>
                                <tr>
                                    <td>Carbamazepine</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <br />
                <div class="card">
                    <div class="card-header">
                        <h5 style="color:#268aab">Current Medication</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">

                            <tbody>
                                <tr>
                                    <td>Asprin</td>
                                </tr>
                                <tr>
                                    <td>Amoxicillin</td>
                                </tr>
                                <tr>
                                    <td>Carbamazepine</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </body>
</html>

<script>
    function rejectPrescription() {
        $.ajax({
            type: "Get",
            url: "/Pharmacist/RejectPrescription",
            success: function (result) {
                $("#presTable").html(result);
                setTimeout(function () { // Delay showing the modal
                    $("#rejectPrescription").modal('show');
                }, 300); // Wait for 300 milliseconds
            }
        });
    }


</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


