@model Day_Hospital_e_prescribing_system.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<style>
    .background {
        background-color: hsl(156, 100%, 50%);
        background-image: radial-gradient(650px circle at 0% 0%, hsl(156, 41%, 35%) 15%, hsl(156, 41%, 30%) 35%, hsl(156, 41%, 20%) 75%, hsl(156, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(156, 41%, 45%) 15%, hsl(156, 41%, 30%) 35%, hsl(156, 41%, 20%) 75%, hsl(156, 41%, 19%) 80%, transparent 100%);
    }
</style>

<body class="background overflow-hidden">
    <div class="col-sm-6 col-sm offset-3" style="text-align:center">
        <br />
        <img src="~/images/logo(white).png" width="110" />
        <br />
        <br />
        <h2 class="text-white font-weight-bold text-center">ACCOUNT LOGIN</h2>
        <hr class="divider" style="color:white" />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-white">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password" class="control-label text-white">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="LOGIN" class="btn btn-success rounded-pill btn-lg w-50 text-bold" />
            </div>
        </form>
    </div>
    <br />
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
