@model Day_Hospital_e_prescribing_system.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<style>
    .custom-dropdown {
        /* Basic styling */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right center;
        background-position: right 10px top 50%;
        background-size: 16px 16px;
        padding-right: 30px; /* Adjust for dropdown arrow */
    }

    /* Remove arrow for IE10+ */
    select::-ms-expand {
        display: none;
    }

    .background {
        background-color: hsl(156, 100%, 50%);
        background-image: radial-gradient(650px circle at 0% 0%, 
        hsl(156, 41%, 35%) 15%, 
        hsl(156, 41%, 30%) 35%, 
        hsl(156, 41%, 20%) 75%, 
        hsl(156, 41%, 19%) 80%, transparent 100%), 
        radial-gradient(1250px circle at 100% 100%, 
        hsl(156, 41%, 45%) 15%, 
        hsl(156, 41%, 30%) 35%, 
        hsl(156, 41%, 20%) 75%, 
        hsl(156, 41%, 19%) 80%, transparent 100%);
    }
</style>

<body class="background overflow-hidden">
    <div class="col-sm-6 col-sm offset-3" style="text-align:center">
        <br />
        <img src="~/images/logo(white).png" width="110" />
        <br />
        <br />
        <h2 class="text-white font-weight-bold text-center">REGISTER ACCOUNT</h2>
        <hr class="divider" style="color:white" />
        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Name" class="control-label text-white">Name: </label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Surname" class="control-label text-white">Surname:</label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Email" class="control-label text-white">Email:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="HCRNo" class="control-label text-white">HC Registration No.:</label>
                    <input asp-for="HCRNo" class="form-control" />
                    <span asp-validation-for="HCRNo" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="ContactNo" class="control-label text-white">Contact No.:</label>
                    <input asp-for="ContactNo" class="form-control" />
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Username" class="control-label text-white">Username:</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Password" class="control-label text-white">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="ConfirmPassword" class="control-label text-white">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                
                <div class="form-group col-4">
                    <label asp-for="RoleId" class="control-label text-white">Role:</label>
                    <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control custom-dropdown">
                        <option>Select Role</option>
                    </select>

                    
                </div>
            <br />
            <div class="form-group">
                <input type="submit" value="REGISTER" class="btn btn-success rounded-pill btn-lg w-50 text-bold" />
                <a href="#" class="nav-link text-white text-bold text-decoration-underline" onclick="location.href = '@Url.Action("Login","Accounts")'">Been here before? Click to Login</a>
            </div>
        </form>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
