@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Patient>
@{
    ViewData["Title"] = "AddCodition2";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}



<div class="card">
    <div class="card-header">
        <div class="text-center ">
            <h3 class="display-6 text-primary text-center text-bold">CONDITIONS, ALLERGIES, MEDICATION</h3>
        </div>
    </div>
    <body>
        
            <form>
                <div class="card">
                    <div class="card-header text-bold">
                        John Doe
                    </div>
                  
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by name" />
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                @if (Model.Count() != 0 || Model != null)
                {
                      <div class="row"></div>

                @foreach (var item in Model)
                {
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Allergies -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title text-bold">Allergies</h4>
                                    </div>
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table id="allergiesTable" class="table table-bordered table-striped">
                                                <thead></thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @item.Patient_Allergy
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Current Medication -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title text-bold">Current Medication</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="medicationTable" class="table table-bordered table-striped">
                                                <thead></thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @item.Patient_Medication

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Conditions -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title text-bold">Conditions</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="conditionsTable" class="table table-bordered table-striped">
                                                <thead></thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @item.Patient_Condition
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                     }
                        @* </div>
                </div>*@

                }
                else
                {
                    <div class="alert alert-info text-center">

                        <p class="fw-bold">Nothing added yet.</p>

                    </div>

                }
                </div>
            </form>
    </body>
</div>







