@model Day_Hospital_e_prescribing_system.ViewModel.PatientVM
@{
    ViewData["Title"] = "SubmitPatientProfile";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
    //var CitySelect = ViewBag.Cities as IEnumerable<City>;
    //var ProvinceSelect = ViewBag.Province as IEnumerable<Province>;
   
  
}

<div class="card">

    <div class="card-header d-flex">

        <p class="text-uppercase pt-1">Update Profile</p>
@*
        <div class="ms-auto">

            <a class="btn btn-danger" asp-action="PatientProfile" asp-controller="Profile">Back</a>

        </div>*@
    </div>

    <div class="card-body">

         <form asp-action="SubmitPatientProfile" asp-controller="Nurse">

            <input asp-for="@Model.PatientID" hidden />
            <div class="row">
                @*<p class="fw-bold">Personal Details:</p>*@
                <div class="form-group col-6">
                    <label class="control-label required">First Name:</label>
                    <input asp-for="@Model.Name" class="form-control" />
                   @* <span asp-validation-for="Name" class="text-danger"></span>*@
                </div>
                <div class="form-group col-6">
                    <label class="control-label required">Last Name:</label>
                    <input asp-for="@Model.Surname" class="form-control" />
                    @*  <span asp-validation-for="Surname" class="text-danger"></span>*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label class="control-label required">Gender:</label>
                    <select asp-for="Gender" class="form-control">
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    @* <span asp-validation-for="Gender" class="text-danger"></span>*@
                </div>
                <div class="form-group col-6">
                    <label class="control-label required">Date Of Birth:</label>
                    <input asp-for="DateOfBirth" class="form-control" id="idNumber" pattern="[0-9]*" placeholder="" type="date" />
                    @*  <span asp-validation-for="DateOfBirth" class="text-danger"></span>*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label class="control-label required">ID Number:</label>
                    <input asp-for="IDNo" class="form-control" maxlength="13" placeholder="" />
                    @* <span asp-validation-for="IDNo" class="text-danger"></span>*@
                </div>
                <div class="form-group col-6">
                    <label class="control-label required">Email:</label>
                    <input asp-for="Email" class="form-control" placeholder="" />
                    @* <span asp-validation-for="Email" class="text-danger"></span>*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label class="control-label required">Province:</label>
                    <select asp-for="ProvinceID" class="form-control" id="provinceId" asp-items="ViewBag.Provinces">
                        <option value="">Select Province</option>
                    </select>
                    <span asp-validation-for="ProvinceID" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="control-label required">City:</label>
                        <select asp-for="CityID" class="form-control" id="cityId" asp-items="ViewBag.Cities">
                            <option value="">Select City</option>
                        </select>
                        <span asp-validation-for="SuburbID" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label required">Suburb:</label>
                        <select asp-for="SuburbID" class="form-control" id="suburbId" asp-items="ViewBag.Suburbs">
                            <option value="">Select Suburb</option>
                        </select>
                        <span asp-validation-for="SuburbID" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="control-label required">Address Line 1:</label>
                            <input asp-for="AddressLine1" class="form-control" placeholder="" />
                            <span asp-validation-for="AddressLine1" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label required">Address Line 2:</label>
                            <input asp-for="AddressLine2" class="form-control" placeholder="" />
                            <span asp-validation-for="AddressLine2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="control-label required">Cell Number:</label>
                            <input asp-for="ContactNo" class="form-control" placeholder="" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label required">Next of Kin Cell Number:</label>
                            <input asp-for="NextOfKinNo" class="form-control" placeholder="" />
                            <span asp-validation-for="NextOfKinNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @* <div style="overflow:auto;">
                                    <div style="float:right;">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>*@
        </form>
    </div>
</div>

@section Scripts {
<script src="https://ajax.aspnetcdn.com/ajax/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#provinceId').change(function () {
            var provinceId = $(this).val();
            if (provinceId) {
                $.getJSON('/Nurse/GetCitiesByProvince', { provinceId: provinceId }, function (data) {
                    var cityDropdown = $('#cityId');
                    cityDropdown.empty();
                    cityDropdown.append('<option value="">Select City</option>');
                    $.each(data, function (index, item) {
                        cityDropdown.append($('<option></option>').val(item.value).text(item.text));
                    });
                });
            } else {
                $('#cityId').empty().append('<option value="">Select City</option>');
                $('#suburbId').empty().append('<option value="">Select Suburb</option>');
            }
        });

        $('#cityId').change(function () {
            var cityId = $(this).val();
            if (cityId) {
                $.getJSON('/Nurse/GetSuburbsByCity', { cityId: cityId }, function (data) {
                    var suburbDropdown = $('#suburbId');
                    suburbDropdown.empty();
                    suburbDropdown.append('<option value="">Select Suburb</option>');
                    $.each(data, function (index, item) {
                        suburbDropdown.append($('<option></option>').val(item.value).text(item.text));
                    });
                });
            } else {
                $('#suburbId').empty().append('<option value="">Select Suburb</option>');
            }
        });
    });
    </script>
    }

