
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="text-center ">
            @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
            *@
        </div>
        <br />
        <h4 class="display-6 text-info text-center text-bold">CONDITION, ALLERGIES, MEDICATION</h4>
    </div>
</div>

<form>

    <div class="card w-50">
                <div class="card-header text-bold">
                    Condition
                </div>
                <div class="body">
   <div class="form-group">
       </div>
       </div>
       </div>
       </form>
