@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Day_Hospital_e_prescribing_system.ViewModel
@model Day_Hospital_e_prescribing_system.ViewModel.AddPatientsViewModel
@{
    ViewData["Title"] = "AddPatients";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="card">
    <div class="card-header">
        <br />
        <h4 class="display-6 text-warning text-center text-bold">ADD NEW PATIENT</h4>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="AddPatients" method="post">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-12">
                                <label asp-for="Name" class="control-label">First Name:</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="Surname" class="control-label">Last Name:</label>
                                <input asp-for="Surname" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="Email" class="control-label">Email:</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="Gender" class="control-label">Gender:</label>
                                <select asp-for="Gender" class="form-control">
                                    <option value="">---Select---</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="IDNo" class="control-label">ID Number:</label>
                                <input asp-for="IDNo" class="form-control" />
                                <span asp-validation-for="IDNo" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <input type="submit" value="Add" class="btn btn-warning" />
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Patients", "Surgeon")'">Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
