@{
    ViewData["Title"] = "AdmissionRecord";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<section class="content">

    <h4 class="display-6 text-warning text-center text-bold">ADMISSION RECORD</h4>
    <h5 class="display-6 text-bold">Patient Name: Jane Smith</h5>

    <div class="container p-3 text-md-center text-bold">
        @*<a class="nav-link" href="javascript:window.print()">
            <span class="tf-icons bx bx-printer me-2"></span>
            Click here to print report.
            </a>*@

        @* @if (Model.Count() > 0)
            {*@
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Admission Date
                    </th>
                    <th>
                        Vitals
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td width="20%">1994-04-01</td>
                    <td width="10%">F</td>
                    <td width="10%">30</td>
                    <td width="20%">2024-07-09</td>
                    <td width="10%">Min</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-14">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-bold">Patient History</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Allergies -->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-bold">Allergies</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="allergiesTable" class="table table-bordered table-striped">
                                            <thead></thead>
                                            <tbody>
                                                <tr>
                                                    <td>Peanuts</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Current Medication -->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-bold">Current Medication</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="medicationTable" class="table table-bordered table-striped">
                                            <thead></thead>
                                            <tbody>
                                                <tr>
                                                    <td>Asthavent</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Conditions -->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-bold">Conditions</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="conditionsTable" class="table table-bordered table-striped">
                                            <thead></thead>
                                            <tbody>
                                                <tr>
                                                    <td>Asthma</td>
                                                </tr>
                                                <tr>
                                                    <td>Eczema</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*}*@
        @*else
            {
            <p>No assignment has been added yet.</p>
            }*@
        @*<div class="col-7 text-right">
            <a asp-controller="Surgeon" asp-action="Create" class="btn btn-outline-warning">Add Assignment</a>
            <button type="submit" class="btn btn-md btn-outline-danger" onclick="location.href = '@Url.Action("Index","TutorAssign")'">BACK</button>
            </div>*@
    </div>
    <div class="row">
    </div>

</section>