@{
    ViewData["Title"] = "DischargePatients";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<section class="content">

    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-warning text-center text-bold">DISCHARGE PATIENTS</h4>
        </div>
    </div>
    <div class="container p-3 text-md-center">
        <div class="col-md-4">
            <!-- Search bar -->
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <br />
        @* @if (Model.Count() > 0)
            {*@
        <table id="patientsTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Cell Number
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Treatment Code
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>DoeJohn@gmail.com</td>
                    <td>0718871234</td>
                    <td>M</td>
                    <td>gwm456</td>
                    <td width="10%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Surgeon" asp-action="Record" class="btn btn-warning btn-sm text-sm text-bold">Discharge</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @*}*@
        @*else
            {
            <p>No assignment has been added yet.</p>
            }*@
        @*<div class="col-7 text-right">
            <a asp-controller="TutorAssignReport" asp-action="Create" class="btn btn-outline-warning">Add Assignment</a>
            <button type="submit" class="btn btn-md btn-outline-danger" onclick="location.href = '@Url.Action("Index","TutorAssign")'">BACK</button>
            </div>*@
    </div>
    <div class="row">
    </div>

</section>