@{
    ViewData["Title"] = "EditPrescription";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="card-title text-warning text-bold">PRESCRIPTION FORM</h3>
                    </div>
                    <div class="card-body">
                        <form id="orderForm">
                            <div class="form-group">
                                <label for="surgeon">Patient:</label>
                                <select class="form-control" id="patient" name="surgeon">
                                    <option value="patient">---</option>
                                    <option value="patient">Jane Smith</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="date">Date:</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                            <div class="form-group">
                                <label for="surgeon">Medication:</label>
                                <select class="form-control" id="surgeon" name="surgeon">
                                    <option value="medication1">Pain Reliver</option>
                                    <option value="medication2">Surgeon 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="surgeon">Strength:</label>
                                <select class="form-control" id="surgeon" name="surgeon">
                                    <option value="strength1">20mg</option>
                                    <option value="strength2">50mg</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity">
                            </div>
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <input type="text" class="form-control" id="status" name="status" value="Ordered" readonly>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-warning text-bold">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>