@using Day_Hospital_e_prescribing_system.ViewModel
@model Day_Hospital_e_prescribing_system.ViewModel.PrescriptionViewModel
@{
    ViewData["Title"] = "NewPrescription";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="card">
    <div class="card-header">
        <br />
        <h4 class="display-6 text-warning text-center text-bold">PRESCRIPTION FORM </h4>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="orderForm" method="post" action="@Url.Action("NewPrescription", "Surgeon")">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="surgeon">Patient:</label>
                                @Html.DropDownListFor(m => m.SelectedPatientId, Model.PatientList, "Select a Patient", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="date">Date:</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="medication">Medication:</label>
                                    @Html.DropDownListFor(m => m.SelectedMedicationId, Model.MedicationList, "Select Medication", htmlAttributes: new { @class = "form-control", id = "SelectedMedicationId" })
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="medication">Instruction:</label>
                                    <input type="text" class="form-control" id="instruction" name="Instruction">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="quantity">Quantity:</label>
                                    <input type="text" class="form-control" id="quantity" name="Quantity">
                                </div>

                                <div class="form-group col-md-1">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary form-control" id="addMedication">
                                        <i class="fas fa-plus"></i> 
                                    </button>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="medicationList">Medication List:</label>
                                    <select multiple class="form-control" id="medicationList">
                                        <!-- Medication will be populated here -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="urgency">Urgency:</label>
                                <input type="checkbox" id="urgency" name="IsUrgent">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-warning text-bold">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#addMedication").click(function () {
            var medication = $("#SelectedMedicationId option:selected").text();
            var instruction = $("#instruction").val(); // Retrieve instruction
            var quantity = $("#quantity").val();
            // Check if quantity is not empty
            if (quantity !== "") {
                var listItem = medication + " - Instruction: " + instruction + " - Quantity: " + quantity;
                $("#medicationList").append("<option>" + listItem + "</option>");
            } else {
                alert("Please enter a quantity.");
            }
        });
    });
</script>
