@model SurgeryViewModel
@{
    ViewData["Title"] = "NewSurgery";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="card">
    <div class="card-header">
        <h4 class="display-6 text-warning text-center text-bold">BOOK NEW SURGERY</h4>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="NewSurgery" asp-controller="Surgeon" method="post" id="newSurgeryForm">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" type="date" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Time" class="control-label"></label>
                                <select asp-for="Time" class="form-control">
                                    <option value="">---Select---</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <span asp-validation-for="Time" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PatientID" class="control-label"></label>
                                <select asp-for="PatientID" asp-items="Model.PatientList" class="form-control">
                                    <option value="">-- Select Patient --</option>
                                </select>
                                <span asp-validation-for="PatientID" class="text-danger"></span>
                            </div>

                            @* <div class="form-group">
                                <label asp-for="SurgeonID" class="control-label"></label>
                                <input type="text" class="form-control" value="@Model.SurgeonName" readonly />
                                <input asp-for="SurgeonID" type="hidden" />
                            </div> *@

                            <div class="form-group">
                                <label asp-for="AnaesthesiologistID" class="control-label"></label>
                                <select asp-for="AnaesthesiologistID" asp-items="Model.AnaesthesiologistList" class="form-control">
                                    <option value="">-- Select Anaesthesiologist --</option>
                                </select>
                                <span asp-validation-for="AnaesthesiologistID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TheatreID" class="control-label"></label>
                                <select asp-for="TheatreID" asp-items="Model.TheatreList" class="form-control">
                                    <option value="">-- Select Theatre --</option>
                                </select>
                                <span asp-validation-for="TheatreID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SelectedTreatmentCodes" class="control-label"></label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select id="availableTreatmentCodes" class="form-control" size="10" multiple>
                                            @foreach (var item in Model.TreatmentCodeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                        <button type="button" id="addTreatmentCode" class="btn btn-primary mb-2">&gt;&gt;</button>
                                        <button type="button" id="removeTreatmentCode" class="btn btn-danger">&lt;&lt;</button>
                                    </div>
                                    <div class="col-md-5">
                                        <select id="SelectedTreatmentCodes" class="form-control" size="10" multiple></select>
                                    </div>
                                </div>
                                <div id="selectedCodesContainer"></div>
                                <span asp-validation-for="SelectedTreatmentCodes" class="text-danger"></span>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Add" class="btn btn-warning text-bold" />
                                <a asp-action="Dashboard" asp-controller="Surgeon" class="btn btn-danger text-bold">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#addTreatmentCode').click(function () {
            $('#availableTreatmentCodes option:selected').appendTo('#SelectedTreatmentCodes');
            updateHiddenInputs();
        });

        $('#removeTreatmentCode').click(function () {
            $('#SelectedTreatmentCodes option:selected').appendTo('#availableTreatmentCodes');
            updateHiddenInputs();
        });

        function updateHiddenInputs() {
            $('#selectedCodesContainer').empty();
            $('#SelectedTreatmentCodes option').each(function (index) {
                var input = $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'SelectedTreatmentCodes')
                    .val($(this).val());
                $('#selectedCodesContainer').append(input);
            });
        }

        $('#newSurgeryForm').submit(function (e) {
            if ($('#SelectedTreatmentCodes option').length === 0) {
                e.preventDefault();
                alert('Please select at least one treatment code.');
            } else {
                updateHiddenInputs();
            }
        });

        // Set min date to today
        var today = new Date().toISOString().split('T')[0];
        $('#Date').attr('min', today);
    });
</script>