@{
    ViewData["Title"] = "NewSurgery";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="card">
    <div class="card-header">
        <div class="text-center ">
            @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
            *@
        </div>
        <br />
        <h4 class="display-6 text-warning text-center text-bold">BOOK NEW SURGERY</h4>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="orderForm">
                            <div class="form-group">
                                <label for="date">Date:</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                            <div class="form-group">
                                <label for="time">Time Slot:</label>
                                <select class="form-control" id="time" name="time">
                                    <option value="time">---</option>
                                    <option value="time">AM</option>
                                    <option value="time">PM</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="patient">Patient:</label>
                                <select class="form-control" id="patient" name="patient">
                                    <option value="patient">---</option>
                                    <option value="patient">John Doe</option>
                                    <option value="patient">Jane Smith</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="anaesthesiologist">Anaesthesiologist:</label>
                                <select class="form-control" id="anaesthesiologist" name="anaesthesiologist">
                                    <option value="anaesthesiologist">---</option>
                                    <option value="anaesthesiologist">Dr Lee Jones</option>
                                    <option value="anaesthesiologist">Dr Anne Wood</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nurse">Nurse:</label>
                                <select class="form-control" id="nurse" name="nurse">
                                    <option value="anaesthesiologist">---</option>
                                    <option value="nurse">Paul Lee</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-11">
                                    <label for="treatment">Treatment Code:</label>
                                    <select class="form-control" id="treatment">
                                        <option value="treatment">gwm456</option>
                                        <option value="treatment">Cxs764</option>
                                        <!-- Add more medication options here -->
                                    </select>
                                </div>

                                <div class="form-group col-md-1">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary form-control" id="addMedication">
                                        <i class="fas fa-plus"></i> <!-- Font Awesome plus icon -->
                                    </button>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="medicationList">Treatment Code List:</label>
                                    <select multiple class="form-control" id="medicationList">
                                        <!-- Medication will be populated here -->
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-warning text-bold">SUBMIT</button>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>