@using Day_Hospital_e_prescribing_system.Models
@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Patient>
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<section class="content">

    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-warning text-center text-bold">PATIENT RECORDS</h4>
        </div>
    </div>

    <div class="container p-3 text-md-center">
        <div class="col-md-4">
            <!-- Search bar -->
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Search ID">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="text-align:end">
            <button class="btn btn-warning text-sm text-bold">Add New Patient</button>
        </div>
        <br />
        @* @if (Model.Count() > 0)
            {*@
        <table id="patientsTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Cell Number
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td width="15%">Jane Smith</td>
                    <td width="20%">janesmith2@gmail.com</td>
                    <td width="10%">0718871234</td>
                    <td width="10%">F</td>
                    <td width="10%">Discharged</td>
                    <td width="10%">
                        <a asp-controller="Surgeon" asp-action="Record" class="btn btn-warning btn-sm text-sm text-bold">View</a>
                    </td>
                </tr>
                <tr>
                    <td width="15%">Andre Harris</td>
                    <td width="20%">AndreHarris@gmail.com</td>
                    <td width="10%">0817325534</td>
                    <td width="10%">M</td>
                    <td width="10%">Discharged</td>
                    <td width="10%">
                        <a asp-controller="Surgeon" asp-action="Record" class="btn btn-warning btn-sm text-sm text-bold">View</a>
                    </td>
                </tr>
                <tr>
                    <td width="15%">John Doe</td>
                    <td width="20%">DoeJohn@gmail.com</td>
                    <td width="10%">0763457766</td>
                    <td width="10%">M</td>
                    <td width="10%">Admitted</td>
                    <td width="10%">
                        <a asp-controller="Surgeon" asp-action="Record" class="btn btn-warning btn-sm text-sm text-bold">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        @*}*@
        @*else
            {
            <p>No assignment has been added yet.</p>
            }*@
        @*<div class="col-7 text-right">
            <a asp-controller="TutorAssignReport" asp-action="Create" class="btn btn-outline-warning">Add Assignment</a>
            <button type="submit" class="btn btn-md btn-outline-danger" onclick="location.href = '@Url.Action("Index","TutorAssign")'">BACK</button>
            </div>*@
    </div>
    <div class="row">
    </div>

</section>