@{
    ViewData["Title"] = "About";
}

<style>
    .background {
        background-color: hsl(156, 100%, 50%);
        background-image: radial-gradient(650px circle at 0% 0%, hsl(156, 41%, 35%) 15%, hsl(156, 41%, 30%) 35%, hsl(156, 41%, 20%) 75%, hsl(156, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(156, 41%, 45%) 15%, hsl(156, 41%, 30%) 35%, hsl(156, 41%, 20%) 75%, hsl(156, 41%, 19%) 80%, transparent 100%);
    }
</style>

<body class="background overflow-hidden">
    <div class="col-sm-12" style="text-align:center">
        <br />
        <img src="~/images/logo(white).png" width="120" />
        <br />
        <br />
        <h2 class="text-white font-weight-bold text-center">WHAT IS CYBER MED?</h2>
        <hr class="divider" style="color:white" />
        <div class="text-white text-bold">
            <p>
                Cyber Med is a cutting-edge e-prescribing website revolutionizing the healthcare industry. 
                Designed with the needs of healthcare professionals in mind, 
                Cyber Med offers a seamless platform for prescribing medications and managing patient treatments with efficiency and precision. 
                With its intuitive interface and robust features, healthcare workers can effortlessly track prescriptions, monitor patient progress, and ensure optimal care delivery. 
                Gone are the days of cumbersome paperwork and manual record-keeping; 
            </p>
            <p>
                Beyond its e-prescribing capabilities, Cyber Med serves as a centralized hub for tracking patient treatments and medication histories. 
                By maintaining a detailed record of each patient's prescriptions and treatment plans, healthcare professionals can make informed decisions, 
                identify potential drug interactions, and optimize patient outcomes. 
                With Cyber Med, healthcare workers have the tools they need to deliver personalized care, 
                improve medication adherence, and ultimately enhance the quality of patient care.
            </p>
        </div>
    </div>
    <div>
        <br />
    </div>
</body>
