@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Medication_Interaction>
@{
    ViewData["Title"] = "AddContraIndication";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .text-dark-green {
        color: darkgreen;
    }

    .btn-outline-darkgreen {
        color: darkgreen;
        border-color: darkgreen;
    }

        .btn-outline-darkgreen:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .btn-dark-green {
        color: white;
        background-color: darkgreen;
        border-color: darkgreen;
    }

        .btn-dark-green:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }
</style>
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <!-- Place for the hospital logo if needed -->
            </div>
            <br />
            <h4 class="display-6 text-dark-green text-center text-bold">ADD CONTRA-INDICATION</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="SubmitSelected" asp-controller="Admin">
                            @using (Html.BeginForm("AddContraIndication", "Admin", FormMethod.Post))
                            {
                            @*<p class="fw-bold">Personal Details:</p>*@
                            <div class="form-group col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <label class="control-label required">ICD-10-CM Codes: </label>
                                    @Html.DropDownList("ICD_ID", ViewBag.ICDCodes as SelectList, new { @class = "form-control" })
                                <div class="d-flex">
                                @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                            </div>
                            </div>
                            <div class="form-group col-12">
                                <label class="control-label required">Active ingredient:</label>
                                    @Html.DropDownList("Active_IngredientID", ViewBag.ActiveIngredients as SelectList, new { @class = "form-control" })
                                @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-dark-green">Save</button>
                                </div>
                            </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





