@{
    ViewData["Title"] = "Manage Day Hospital Records";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<!-- Main content -->
<style>
    .text-dark-green {
        color: darkgreen;
    }

    .btn-outline-darkgreen {
        color: darkgreen;
        border-color: darkgreen;
    }

        .btn-outline-darkgreen:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .btn-dark-green {
        color: white;
        background-color: darkgreen;
        border-color: darkgreen;
    }

        .btn-dark-green:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .card-centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
        
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <!-- Place for the hospital logo if needed -->
            </div>
            <br />
            <h4 class="display-6 text-dark-green text-center text-bold">MEDICAL PROFESSIONAL FORM</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form id="orderForm">
                            <div class=" justify-content-center">
                                @*<p class="fw-bold">Personal Details:</p>*@
                                <div class="form-group col-12">
                                    <label class="control-label required">Name: </label>
                                    <input class="form-control" placeholder="Adam" />
                                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                                </div>
                                <div class="form-group col-12">
                                    <label class="control-label required">Surname:</label>
                                    <input class="form-control" placeholder="Abrahams" />
                                    @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                                </div>
                            
                                @*<p class="fw-bold">Personal Details:</p>*@
                                <div class="form-group col-12">
                                    <label class="control-label required">Contact Number: </label>
                                    <input class="form-control" placeholder="067 124 853" />
                                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                                </div>
                                <div class="form-group col-12">
                                    <label class="control-label required">E-mail:</label>
                                    <input class="form-control" placeholder="abrahams@gmail.com" />
                                    @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                                </div>
                                <div class="form-group col-12">
                                    <label class="control-label required">Username:</label>
                                    <input class="form-control" placeholder="A.Abrahams" />
                                    @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                                </div>
                                @*<p class="fw-bold">Personal Details:</p>*@
                                <div class="form-group col-12">
                                    <label class="control-label required">Password: </label>
                                    <input class="form-control" placeholder="******" />
                                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                                </div>
                                <div class="form-group col-12">
                                    <label class="control-label required">Specialization:</label>
                                    <select class="form-control" id="patient" name="surgeon">
                                        <option value="surgeon1">Surgeon</option>
                                        <option value="surgeon2">50mg</option>
                                        <option value="surgeon3">Surgeon 3</option>
                                    </select>
                                    @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                                </div>
                            
                           
                                @*<p class="fw-bold">Personal Details:</p>*@
                                <div class="form-group col-12">
                                    <label class="control-label required">HR Number: </label>
                                    <input class="form-control" placeholder="546798" />
                                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                                </div>
                                
                            <div class="text-center">
                                

                                <button type="button" class="btn btn-dark-green" onclick="saveChanges()">Save</button>
                            </div>
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

