@{
    ViewData["Title"] = "Manage Day Hospital Records";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<!-- Main content -->
<style>
    .btn-orange {
        color: orange;
        border-color: orange;}
        </style>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-orange text-center text-bold"> HOSPITAL RECORDS</h4>
        </div>
    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Day Hospital Name:</th>
                                            <td>Dummy Hospital</td>
                                        </tr>
                                        <tr>
                                            <th>Address:</th>
                                            <td>123 Street, City</td>
                                        </tr>
                                        <tr>
                                            <th>Contact Number:</th>
                                            <td>1234567890</td>
                                        </tr>
                                        <tr>
                                            <th>E-mail Address:</th>
                                            <td>dummyhospital@example.com</td>
                                        </tr>
                                        <tr>
                                            <th>Day Hospital Number:</th>
                                            <td>4567</td>
                                        </tr>
                                        <tr>
                                            <th>Purchase Manager E-mail:</th>
                                            <td>purchasemanager@example.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
             
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                <button type="button" class="btn  btn-primary" onclick="editVital()">
                    <i class="fas fa-edit"></i> <!-- Font Awesome edit icon -->
                </button>
                    <button type="button" class="btn btn-orange">Save</button>
                  
                </div>
            </div>
        </div>
    
</section>
<!-- /.content -->
