@using Day_Hospital_e_prescribing_system.Models
@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Theatre>

@{
    ViewData["Title"] = "Hospital Theatre Records";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    var theatres = ViewBag.Theatre as IEnumerable<Theatre>;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    .text-dark-green {
        color: darkgreen;
    }

    .btn-outline-darkgreen {
        color: darkgreen;
        border-color: darkgreen;
    }

        .btn-outline-darkgreen:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .btn-dark-green {
        color: white;
        background-color: darkgreen;
        border-color: darkgreen;
    }

        .btn-dark-green:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }
</style>
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <!-- Place for the hospital logo if needed -->
            </div>
            <br />
            <h4 class="display-6 text-dark-green text-center text-bold">HOSPITAL THEATRE RECORDS</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:10%">ID</th>
                                        <th>Name</th>
                                        <th style="width:20%"></th>
                                    </tr>
                                </thead>
                                @foreach (var theatre in theatres)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@theatre.TheatreID</td>
                                            <td>@theatre.Name</td>
                                            <td>
                                                <button type="button" class="btn  btn-primary" onclick="editVital()">
                                                    <i class="fas fa-edit"></i> <!-- Font Awesome edit icon -->
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                            <div class="text-center">
                                @* <div class="btn-group">*@
                                <button type="button" class="btn btn-primary" id="addTheatre">
                                    <i class="fas fa-plus"></i> <!-- Font Awesome plus icon -->
                                </button>

                                <button type="button" class="btn btn-dark-green" onclick="saveChanges()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
