@using Day_Hospital_e_prescribing_system.Models
@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Ward>

@{
    ViewData["Title"] = "Hospital Ward Records";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    var wards = ViewBag.Ward as IEnumerable<Ward>;

}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    .text-dark-green {
        color: darkgreen;
    }

    .btn-outline-darkgreen {
        color: darkgreen;
        border-color: darkgreen;
    }

        .btn-outline-darkgreen:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .btn-dark-green {
        color: white;
        background-color: darkgreen;
        border-color: darkgreen;
    }

        .btn-dark-green:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }
</style>
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <!-- Place for the hospital logo if needed -->
            </div>
            <br />
            <h4 class="display-6 text-dark-green text-center text-bold">HOSPITAL WARD RECORDS</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!-- Ward Details -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Ward Name</th>
                                        <th>Number of Beds</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                @foreach(var ward in wards)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@ward.WardName</td>
                                           <td>@ward.NumberOfBeds</td>
                                            @* <td>
                                                <button type="button" class="btn btn-primary" id="removeBed">
                                                    <i class="fas fa-remove"></i> <!-- Font Awesome plus icon -->
                                                </button>
                                            </td> *@
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                        <div class="text-center">
                            @* <div class="btn-group">*@
                            @* <button type="button" class="btn btn-primary" id="addBed">
                                <i class="fas fa-plus"></i> <!-- Font Awesome plus icon -->
                            </button> *@

                            @* <button type="button" class="btn btn-dark-green" onclick="saveChanges()">Save</button> *@

                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("AdminDashboard", "Admin")'">Back</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
